<ion-view view-title="{{viewtitle}}">
  <ion-content class='has-header'>
    <div class="row">
      <div class="col-60">
        <label class="item item-input item-select">
          <div class="input-label padding5" style="padding-right:0px">Возраст</div>
          <select ng-change="changeOld();" ng-model="sortOlder" class="left_side norms_select">
            <option ng-repeat="item in olders track by item" value="{{item}}">{{item|declension:['месяц','ев','','а']}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="hr_shadow"></div>
    <ion-list>
      <ion-item ng-repeat="item in categoryNorm">
        <div class="left_side">{{item.name}}</div>
        <div class="right_side">{{item.amount}} г</div>
      </ion-item>
      <ion-item ng-if="productsSort.length == 0">
        Продукты не найдены
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
