<ion-view view-title="Календарь" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="primary"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/main">Скрыть</a>
  </ion-nav-buttons>
  <ion-header-bar class="bar bar-subheader">
    <button class="button" ng-click="changeMonth('p');">
      <i class="icon ion-chevron-left"></i>
    </button>
    <h1 class="title">{{month.format('MMMM YYYY')}}</h1>
    <button class="button" ng-click="changeMonth('n');">
      <i class="icon ion-chevron-right"></i>
    </button>
  </ion-header-bar>
  <ion-content class='has-header has-subheader padding'>
    <calendar selected="day" month="month" class="calendar"></calendar>
  </ion-content>
</ion-view>
