<ion-view view-title="Продукты" cache-view="false">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/normals">Нормы</a>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-stable">
    <div class="button-bar">
      <button
        ng-repeat="item in statusProd"
        ng-click="chooseProds(item.id)"
        class="button" ng-class="{active:item.id==pp}">{{item.name}}</button>
    </div>
  </div>
  <ion-content class='has-header has-subheader padding'>
    <p ng-if="pp == 1" class="info">Сомнительные продукты, которые могли вызвать какую-либо реакцию у малыша.</p>
    <p ng-if="pp == 2" class="info">Продукты с реакцией не подошли вашему ребенку и/или вызвали реакцию.</p>
    <p ng-if="pp == 3" class="info">Список уже введенных в рацион продуктов.</p>
    <ion-list>
      <ion-item href="#/app/products/{{item.rowid}}" ng-repeat="item in productsSort">
        {{item.name}}
      </ion-item>
      <ion-item ng-if="productsSort.length == 0">
        Продукты не найдены
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
